<html>

<head>
    <link rel="stylesheet" type="text/css" href="main.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/seedrandom/3.0.5/seedrandom.min.js"></script>
    <script lang="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
    <div id="app">
        <router-view></router-view>
    </div>
    <script type="text/x-template" id="start-screen">
        <div class="start-panel">
        <div class="title" align="center">
            CNI v2
        </div>
        <div class="start-row" align="center">
            <button class="start-button create-room" v-on:click="createRoom">Create room</button>
        </div>
        <div class="start-row" align="center">
            <input type="text" class="start-input"/>
            <button class="start-button disabled">Use code</button>
        </div>
        </div>
    </script>
    <script type="text/x-template" id="game">
        <div class="playing-field">
            <div class="player-list">
                <div class="info">
                    <span v-if="role=='server'">You own the room</span>
                    <span v-if="role=='player'"></span>
                </div>
                <div class="controls">
                    <div class="word-zone">
                        {{wordZone}}
                    </div>
                    <button v-if="role=='server' && pregame" class="ctrl-button" v-on:click="splitTeams">reshuffle</button>
                    <button v-if="role=='server' && pregame" class="ctrl-button" v-on:click="startRound">start</button>
                    <button v-if="role=='server' && !pregame" class="ctrl-button" v-on:click="newRound">new round</button>
                </div>
                <ul v-for="team in teams" :class="['team', 'team-'+team.color]">
                    <li v-for="name in team.players" :class="['player', team.players[0] == name?'leader':'']">
                        {{players[name].name}} {{you == name ? '(you)' : ''}} {{Array(players[name].led+1).join("✓")}}
                    </li>
                </ul>
            </div>
            <div class="container">
                <div v-for="item in items"
                    :class="[item.cl, item.cl == 'image' ? item.color : '']"
                    :style="{backgroundImage: item.url}"
                    v-on:click.alt="serverClick(item.index)"
                >
                    {{item.letter}}
                </div>
            </div>
        </div>
    </script>
    <script type="text/x-template" id="client-name-screen">
        <div>
            <form class="start-panel" v-if="!player" v-on:submit="enterPlayerName">
            <div class="title" align="center">
                CNI v2
            </div>
            <div class="start-row" align="center">
                <div class="start-el"> Your name: </div>
                <input type="text" class="start-input" id="client-name" v-model="input"/>
                <button type="submit" class="start-button" :disabled="input==''">Go</button>
            </div>
            </form>
            <game-field v-if="player" ref="game"></game-field>
        </div>
    </script>
    <script lang="javascript" src="../data.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://cdn.ably.io/lib/ably.min-1.js"></script>
    <script lang="javascript" src="controller.js"></script>
</body>

</html>